.App {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 30px;
  margin-right: 10px;
}

.App-header h1 {
  font-size: 24px;
  color: white;
}

.App-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}

.App-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 16px;
  border-radius: 8px;
}

.App-card h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.App-card p {
  font-size: 16px;
  margin-bottom: 16px;
}

.App-buttons {
  display: flex;
  justify-content: space-between;
}

.App-button {
  background-color: white;
  color: #282c34;
  border: 1px solid #282c34;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49%;
}

.App-button img {
  height: 20px;
  margin-right: 8px;
}

.App-button.metamask {
  background-color: white;
  color: black;
  border-color: #F6851B;

}

/* .App-button.metamask img {
  filter: invert(1);
} */

.App-button.phantom {
  background-color: #2196F3;
  color: white;
  border-color: #2196F3;
}

/* .App-button.phantom img {
  filter: invert(1);
} */

.App-footer {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .App-footer p {
    color: white;
    font-size: 14px;
    }
    
    @media screen and (max-width: 768px) {
    .App-card {
    width: 90%;
    }
    }
    
    @media screen and (max-width: 480px) {
    .App-card {
    width: 100%;
    }
    
    .App-buttons {
    flex-direction: column;
    }
    
    .App-button {
    width: 100%;
    margin-bottom: 10px;
    }
    }

    input[type="text"],
input[type="number"],
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"],
input[type="number"] {
  background-color: #f2f2f2;
  margin-right: 10px;
  width: 200px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #3e8e41;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
